extends ../templates/layout

block content 
  #layout_container
    #layout_content
      //- .content
      //-   .content_area.content_area_vr
      //알람 컨텐츠 시작
      .alarm_wrap
        #snb.snb.snb_board 
          .svc_title
            .alrm_cate_headings.tp_on
              .alarm_headings_box
                h2(title="알림센터")
                  a(href="") 알림센터
                .toggl_btn_wrapper
                  span.label_txt 
                    | 집중근무
                  // 알림 토글 버튼 컨테이너
                  label.alarm_toggle_switch_wrapper.alarm_concentration_toggle(for="alarm-concentration-toggle-switch")
                    input#alarm-concentration-toggle-switch.alarm_toggle_switch_input.alarm_concentration_toggle_switch(type="checkbox")
                    span.alarm_toggle_switch-slider      
          .alarm_noti_box
            .alarm_h3
              i.icon_alarm.icon_alarm_all_noti_blu
              span.alarm_txt 전체알림
            .alarm_tit_box
              .alarm_h3 
                i.icon_alarm.icon_icon_alarm_siren_bk
                span.alarm_txt 중요/긴급 알림  
                span.alarm_noti_cnt 999

          #snb_scroll.snb_scroll 
            .tree_menu_box
              ul.alarm_list
                li.alarm_active
                  .alarm_item
                    a(href="") 
                      | 메일
                      span.alarm_noti
                li 
                  .alarm_item
                    a(href="") 
                      | 결재
                      span.alarm_noti
                li 
                  .alarm_item
                    a(href="") 
                      | 일정
                      span.alarm_noti
                li 
                  .alarm_item
                    a(href="") 
                      | 할일
                      span.alarm_noti
                li 
                  .alarm_item
                    a(href="") 
                      | 태그
                      span.alarm_noti
                li 
                  .alarm_item
                    a(href="") 
                      | SAQ
                      span.alarm_noti
                li 
                  .alarm_item
                    a(href="") 
                      | 쪽지
                      span.alarm_noti
                li 
                  .alarm_item
                    a(href="") 
                      | 구독
                      span.alarm_noti
                li 
                  .alarm_item
                    a(href="") 
                      | 내서랍
                      span.alarm_noti
                li 
                  .alarm_item
                    a(href="") 
                      | 게시판
                      span.alarm_noti
                li 
                  .alarm_item
                    a(href="") 
                      | 설문
                      span.alarm_noti
                li 
                  .alarm_item
                    a(href="") 
                      | 자원예약
                      span.alarm_noti
                li 
                  .alarm_item
                    a(href="") 
                      | 시스템
                      span.alarm_noti
            p.alarm_setting 
              i.icon_alarm.icon_alarm_set_bk 
              a(href="#none") 알림설정 
        #content.content 
          .title_bar 
            .tgl_snb
              <button type="button" onclick="toggleSnb()" title="사이드 메뉴" class="btn btn_tgl_snb"><i class="ico ico_tgl_snb"><span>사이드 메뉴</span></i></button>
            .title
              h3.fl 
                span 메일
                .alrm_info 
                  span.alarm_unread 미확인 120
                  span.alarm_bar / 
                  span.alarm_all 1,300건 
          #content_area.content_area
            .division_list.web
              // List Container
              #list_container.list_container.list_container_vr
                #listbox.listbox.listbox_vr
                  .listbox_cont.alarm_board
                    .box_toolbar
                      .fl
                        .btn_toolbar
                          button.btn.alarm_btn_del_all( type="button") 전체 삭제
                          button.btn.alarm_btn_del_read( type="button") 읽은 알림 삭제
                      .fr.alarm_srch
                        .srch_alarm_filter
                          .srch_alarm_filter_list
                            //- button.btn.btn_alarm_srch_filter.alarm_filter_list_0( type="button") 
                            //-   span.btn_alarm_txt 미확인 
                            //-   i.icon_alarm.icon_alarm_close_gry
                            //- button.btn.btn_alarm_srch_filter.alarm_filter_list_1( type="button") 
                            //-   span.btn_alarm_txt 일주일
                            //-   i.icon_alarm.icon_alarm_close_gry
                            //- button.btn.btn_alarm_srch_filter.alarm_filter_list_2( type="button") 
                            //-   span.btn_alarm_txt 메일
                            //-   i.icon_alarm.icon_alarm_close_gry
                            //- button.btn.btn_alarm_srch_filter.alarm_filter_list_3( type="button") 
                            //-   span.btn_alarm_txt 태그
                            //-   i.icon_alarm.icon_alarm_close_gry
                            //- button.btn.btn_checked_list_all_show( type="button" title="체크된 목록 전부 보기")  ...
                          .srch_filter_more
                            button.btn.srch_alarm_filter_setting( type="button"  data-category="mail") 
                              i.icon_alarm.icon_alarm_more_bk
                              span.hidden 필터 더보기
                          .srch_alarm_box
                            form.srch_alarm_form( action="#none" method="get")
                              label.srch_label.hidden(for="search_alrm_keyword") 
                                span.hidden 검색  
                              input.input_alarm_text( type="text" placeholder="검색어를 입력하세요." name="search__alrm_keyword" id="search_alrm_keyword")
                              button.btn.srch_alarm_btn( type="button") 
                                i.icon_alarm.icon_alarm_search_bk
                                span.hidden 검색
                    .list_head
                      .eapp
                        table.lst_hr_tbl
                          colgroup
                            col.col1
                            col.col2
                            col.col3
                            col.col4
                            col.col5
                            col.col6
                          thead
                            tr
                              th.alrm_tbl_th_cate
                                .el
                                  a(href="#none" title="번호") 종류
                              th.alrm_tbl_th_cont 내용
                              th.alrm_tbl_th_writer 보낸이
                              th.alrm_tbl_th_date 시간
                              th.alrm_tbl_th_util 
                                span.hidden 유틸
                              th.alrm_tbl_th_del 삭제
                          tbody 
                            tr
                              td.alrm_tbl_td_cate
                                .el
                                  div.alrm_cate_tit.alarm_tit_mail 메일
                              td.alrm_tbl_td_cont 
                                dl.alarm_board_cont 
                                  dt.alarm_board_tit 부서기획 협업 요청건
                                  dd.alarm_board_txt 킥오프 미팅을 아래와 같이 개최합니다. 
                              td.alrm_tbl_td_writer 
                                span.thmb.thmb_1 
                                  strong 이
                                span.name(title="이다희")
                                  a(href="#none") 이다희
                              td.alrm_tbl_td_date 
                                time(datetime="2025-08-21T14:20") 
                                  span.alarm_t_day 오늘
                                  span.alarm_t 14:20 
                              td.alrm_tbl_td_util 
                                .alarm_btn_ico_box 
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_calendar_gry
                                    span.hidden 스케쥴
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_not_noti_gry
                                    span.hidden 알림중지
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_copy_gry
                                    span.hidden 알림복사
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_recall_gry
                                    span.hidden 알림 저장
                              td.alrm_tbl_td_del 
                                 .alarm_btn_ico_box 
                                  button.remove_alarm(type="button")
                                    i.icon_alarm.icon_alarm_close_bk
                                    span.hidden 알림 삭제
                            tr
                              td.alrm_tbl_td_cate
                                .el
                                  div.alrm_cate_tit.alarm_tit_mail 메일
                              td.alrm_tbl_td_cont 
                                dl.alarm_board_cont 
                                  dt.alarm_board_tit 부서기획 협업 요청건
                                  dd.alarm_board_txt 킥오프 미팅을 아래와 같이 개최합니다. 
                              td.alrm_tbl_td_writer 
                                span.thmb.thmb_1 
                                  strong 이
                                span.name(title="이다희")
                                  a(href="#none") 이다희
                              td.alrm_tbl_td_date 
                                time(datetime="2025-08-21T14:20") 
                                  span.alarm_t_day 오늘
                                  span.alarm_t 14:20 
                              td.alrm_tbl_td_util 
                                .alarm_btn_ico_box 
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_calendar_gry
                                    span.hidden 스케쥴
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_not_noti_gry
                                    span.hidden 알림중지
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_copy_gry
                                    span.hidden 알림복사
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_recall_gry
                                    span.hidden 알림 저장
                              td.alrm_tbl_td_del 
                                 .alarm_btn_ico_box 
                                  button.remove_alarm(type="button")
                                    i.icon_alarm.icon_alarm_close_bk
                                    span.hidden 알림 삭제
                            tr
                              td.alrm_tbl_td_cate
                                .el
                                  div.alrm_cate_tit.alarm_tit_mail 메일
                              td.alrm_tbl_td_cont 
                                dl.alarm_board_cont 
                                  dt.alarm_board_tit 부서기획 협업 요청건
                                  dd.alarm_board_txt 킥오프 미팅을 아래와 같이 개최합니다. 
                              td.alrm_tbl_td_writer 
                                span.thmb.thmb_1 
                                  strong 이
                                span.name(title="이다희")
                                  a(href="#none") 이다희
                              td.alrm_tbl_td_date 
                                time(datetime="2025-08-21T14:20") 
                                  span.alarm_t_day 오늘
                                  span.alarm_t 14:20 
                              td.alrm_tbl_td_util 
                                .alarm_btn_ico_box 
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_calendar_gry
                                    span.hidden 스케쥴
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_not_noti_gry
                                    span.hidden 알림중지
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_copy_gry
                                    span.hidden 알림복사
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_recall_gry
                                    span.hidden 알림 저장
                              td.alrm_tbl_td_del 
                                 .alarm_btn_ico_box 
                                  button.remove_alarm(type="button")
                                    i.icon_alarm.icon_alarm_close_bk
                                    span.hidden 알림 삭제
                            tr
                              td.alrm_tbl_td_cate
                                .el
                                  div.alrm_cate_tit.alarm_tit_mail 메일
                              td.alrm_tbl_td_cont 
                                dl.alarm_board_cont 
                                  dt.alarm_board_tit 부서기획 협업 요청건
                                  dd.alarm_board_txt 킥오프 미팅을 아래와 같이 개최합니다. 
                              td.alrm_tbl_td_writer 
                                span.thmb.thmb_1 
                                  strong 이
                                span.name(title="이다희")
                                  a(href="#none") 이다희
                              td.alrm_tbl_td_date 
                                time(datetime="2025-08-21T14:20") 
                                  span.alarm_t_day 오늘
                                  span.alarm_t 14:20 
                              td.alrm_tbl_td_util 
                                .alarm_btn_ico_box 
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_calendar_gry
                                    span.hidden 스케쥴
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_not_noti_gry
                                    span.hidden 알림중지
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_copy_gry
                                    span.hidden 알림복사
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_recall_gry
                                    span.hidden 알림 저장
                              td.alrm_tbl_td_del 
                                 .alarm_btn_ico_box 
                                  button.remove_alarm(type="button")
                                    i.icon_alarm.icon_alarm_close_bk
                                    span.hidden 알림 삭제
                            tr
                              td.alrm_tbl_td_cate
                                .el
                                  div.alrm_cate_tit.alarm_tit_mail 메일
                              td.alrm_tbl_td_cont 
                                dl.alarm_board_cont 
                                  dt.alarm_board_tit 부서기획 협업 요청건
                                  dd.alarm_board_txt 킥오프 미팅을 아래와 같이 개최합니다. 
                              td.alrm_tbl_td_writer 
                                span.thmb.thmb_1 
                                  strong 이
                                span.name(title="이다희")
                                  a(href="#none") 이다희
                              td.alrm_tbl_td_date 
                                time(datetime="2025-08-21T14:20") 
                                  span.alarm_t_day 오늘
                                  span.alarm_t 14:20 
                              td.alrm_tbl_td_util 
                                .alarm_btn_ico_box 
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_calendar_gry
                                    span.hidden 스케쥴
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_not_noti_gry
                                    span.hidden 알림중지
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_copy_gry
                                    span.hidden 알림복사
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_recall_gry
                                    span.hidden 알림 저장
                              td.alrm_tbl_td_del 
                                 .alarm_btn_ico_box 
                                  button.remove_alarm(type="button")
                                    i.icon_alarm.icon_alarm_close_bk
                                    span.hidden 알림 삭제
                            tr.alarm_read
                              td.alrm_tbl_td_cate
                                .el
                                  div.alrm_cate_tit.alarm_tit_mail.alarm_read 메일
                              td.alrm_tbl_td_cont 
                                dl.alarm_board_cont 
                                  dt.alarm_board_tit 부서기획 협업 요청건
                                  dd.alarm_board_txt 킥오프 미팅을 아래와 같이 개최합니다. 
                              td.alrm_tbl_td_writer 
                                span.thmb.thmb_1 
                                  strong 이
                                span.name(title="이다희")
                                  a(href="#none") 이다희
                              td.alrm_tbl_td_date 
                                time(datetime="2025-08-21T14:20") 
                                  span.alarm_t_day 오늘
                                  span.alarm_t 14:20 
                              td.alrm_tbl_td_util 
                                .alarm_btn_ico_box 
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_calendar_gry
                                    span.hidden 스케쥴
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_not_noti_gry
                                    span.hidden 알림중지
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_copy_gry
                                    span.hidden 알림복사
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_recall_gry
                                    span.hidden 알림 저장
                              td.alrm_tbl_td_del 
                                 .alarm_btn_ico_box 
                                  button.remove_alarm(type="button")
                                    i.icon_alarm.icon_alarm_close_bk
                                    span.hidden 알림 삭제
                            tr.alarm_read
                              td.alrm_tbl_td_cate
                                .el
                                  div.alrm_cate_tit.alarm_tit_mail.alarm_read 메일
                              td.alrm_tbl_td_cont 
                                dl.alarm_board_cont 
                                  dt.alarm_board_tit 부서기획 협업 요청건
                                  dd.alarm_board_txt 킥오프 미팅을 아래와 같이 개최합니다. 
                              td.alrm_tbl_td_writer 
                                span.thmb.thmb_1 
                                  strong 이
                                span.name(title="이다희")
                                  a(href="#none") 이다희
                              td.alrm_tbl_td_date 
                                time(datetime="2025-08-21T14:20") 
                                  span.alarm_t_day 오늘
                                  span.alarm_t 14:20 
                              td.alrm_tbl_td_util 
                                .alarm_btn_ico_box 
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_calendar_gry
                                    span.hidden 스케쥴
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_not_noti_gry
                                    span.hidden 알림중지
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_copy_gry
                                    span.hidden 알림복사
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_recall_gry
                                    span.hidden 알림 저장
                              td.alrm_tbl_td_del 
                                 .alarm_btn_ico_box 
                                  button.remove_alarm(type="button")
                                    i.icon_alarm.icon_alarm_close_bk
                                    span.hidden 알림 삭제
                            tr.alarm_read
                              td.alrm_tbl_td_cate
                                .el
                                  div.alrm_cate_tit.alarm_tit_mail.alarm_read 메일
                              td.alrm_tbl_td_cont 
                                dl.alarm_board_cont 
                                  dt.alarm_board_tit 부서기획 협업 요청건
                                  dd.alarm_board_txt 킥오프 미팅을 아래와 같이 개최합니다. 
                              td.alrm_tbl_td_writer 
                                span.thmb.thmb_1 
                                  strong 이
                                span.name(title="이다희")
                                  a(href="#none") 이다희
                              td.alrm_tbl_td_date 
                                time(datetime="2025-08-21T14:20") 
                                  span.alarm_t_day 오늘
                                  span.alarm_t 14:20 
                              td.alrm_tbl_td_util 
                                .alarm_btn_ico_box 
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_calendar_gry
                                    span.hidden 스케쥴
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_not_noti_gry
                                    span.hidden 알림중지
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_copy_gry
                                    span.hidden 알림복사
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_recall_gry
                                    span.hidden 알림 저장
                              td.alrm_tbl_td_del 
                                 .alarm_btn_ico_box 
                                  button.remove_alarm(type="button")
                                    i.icon_alarm.icon_alarm_close_bk
                                    span.hidden 알림 삭제
                            tr.alarm_read
                              td.alrm_tbl_td_cate
                                .el
                                  div.alrm_cate_tit.alarm_tit_mail.alarm_read 메일
                              td.alrm_tbl_td_cont 
                                dl.alarm_board_cont 
                                  dt.alarm_board_tit 부서기획 협업 요청건
                                  dd.alarm_board_txt 킥오프 미팅을 아래와 같이 개최합니다. 
                              td.alrm_tbl_td_writer 
                                span.thmb.thmb_1 
                                  strong 이
                                span.name(title="이다희")
                                  a(href="#none") 이다희
                              td.alrm_tbl_td_date 
                                time(datetime="2025-08-21T14:20") 
                                  span.alarm_t_day 오늘
                                  span.alarm_t 14:20 
                              td.alrm_tbl_td_util 
                                .alarm_btn_ico_box 
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_calendar_gry
                                    span.hidden 스케쥴
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_not_noti_gry
                                    span.hidden 알림중지
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_copy_gry
                                    span.hidden 알림복사
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_recall_gry
                                    span.hidden 알림 저장
                              td.alrm_tbl_td_del 
                                 .alarm_btn_ico_box 
                                  button.remove_alarm(type="button")
                                    i.icon_alarm.icon_alarm_close_bk
                                    span.hidden 알림 삭제
                            tr.alarm_read
                              td.alrm_tbl_td_cate
                                .el
                                  div.alrm_cate_tit.alarm_tit_mail.alarm_read 메일
                              td.alrm_tbl_td_cont 
                                dl.alarm_board_cont 
                                  dt.alarm_board_tit 부서기획 협업 요청건
                                  dd.alarm_board_txt 킥오프 미팅을 아래와 같이 개최합니다. 
                              td.alrm_tbl_td_writer 
                                span.thmb.thmb_1 
                                  strong 이
                                span.name(title="이다희")
                                  a(href="#none") 이다희
                              td.alrm_tbl_td_date 
                                time(datetime="2025-08-21T14:20") 
                                  span.alarm_t_day 오늘
                                  span.alarm_t 14:20 
                              td.alrm_tbl_td_util 
                                .alarm_btn_ico_box 
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_calendar_gry
                                    span.hidden 스케쥴
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_not_noti_gry
                                    span.hidden 알림중지
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_copy_gry
                                    span.hidden 알림복사
                                  button(type="button")
                                    i.icon_alarm.icon_alarm_recall_gry
                                    span.hidden 알림 저장
                              td.alrm_tbl_td_del 
                                 .alarm_btn_ico_box 
                                  button.remove_alarm(type="button")
                                    i.icon_alarm.icon_alarm_close_bk
                                    span.hidden 알림 삭제
                      <div class="pagination alarm_pagination">
                        <ul>
                          <li class="disabled"><span class="page_frst"><span>First</span></span></li>
                          <li class="disabled"><span class="page_prev"><span>Prev</span></span></li>
                          <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">1</a></li>
                          <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">2</a></li>
                          <li class="active"><span>3</span></li>
                          <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">4</a></li>
                          <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">5</a></li>
                          <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">6</a></li>
                          <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">7</a></li>
                          <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">8</a></li>
                          <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">9</a></li>
                          <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">10</a></li>
                          <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#" class="page_next"><span>Next</span></a></li>
                          <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#" class="page_last"><span>Last</span></a></li>
                        </ul>
                      </div>
            .alarm_m_top.mobile 
              h3.alarm_mobile_h 
                | 알림센터
                span.alarm_noti_cnt 6
              .flx_rgt 
                .srch_alarm_box
                  button.btn.srch_alarm_btn.srch_alarm_btn_m( type="button") 
                    i.icon_alarm_m.icon_alarm_m_srch_bk
                    span.hidden 검색
                .toggl_btn_wrapper
                  span.label_txt 
                    | 집중근무
                  label.alarm_toggle_switch_wrapper.alarm_concentration_toggle(for="alarm-concentration-toggle-switch-m")
                    input#alarm-concentration-toggle-switch-m.alarm_toggle_switch_input.alarm_concentration_toggle_switch(type="checkbox")
                    span.alarm_toggle_switch-slider
                  p.alarm_setting 
                    a(href="#none") 
                      i.icon_alarm_m.icon_alarm_m_set_bk          
                      span.hidden 알림설정
            .division_list.mobile
              .board_tab_alarm
                .tab_swiper_alarm.swiper
                  ul.alarm_list.swiper-wrapper
                    li.swiper-slide
                      .alarm_item
                        a(href="")
                          span.alarm_tab_text 전체
                            span.alarm_noti
                    li.swiper-slide
                      .alarm_item
                        a(href="")
                          span.alarm_tab_text 중요/긴급
                            span.alarm_noti
                    li.swiper-slide
                      .alarm_item
                        a(href="")
                          span.alarm_tab_text 안 읽은
                            .icon_alarm_m.icon_alarm_m_hot_gry
                            span.alarm_noti
                    li.swiper-slide
                      .alarm_item
                        a.active(href="")
                          span.alarm_tab_text 메일
                            span.alarm_noti
                    li.swiper-slide
                      .alarm_item
                        a(href="")
                          span.alarm_tab_text 결재
                            span.alarm_noti
                    li.swiper-slide
                      .alarm_item
                        a(href="")
                          span.alarm_tab_text 일정
                            span.alarm_noti
                    li.swiper-slide
                      .alarm_item
                        a(href="")
                          span.alarm_tab_text 할일
                            span.alarm_noti
                    li.swiper-slide
                      .alarm_item
                        a(href="")
                          span.alarm_tab_text 태그
                            span.alarm_noti
                    li.swiper-slide
                      .alarm_item
                        a(href="")
                          span.alarm_tab_text SAQ
                            span.alarm_noti
                    li.swiper-slide
                      .alarm_item
                        a(href="")
                          span.alarm_tab_text 쪽지
                            span.alarm_noti
                    li.swiper-slide
                      .alarm_item
                        a(href="")
                          span.alarm_tab_text 구독
                            span.alarm_noti
                    li.swiper-slide
                      .alarm_item
                        a(href="")
                          span.alarm_tab_text 내서랍
                            span.alarm_noti
                    li.swiper-slide
                      .alarm_item
                        a(href="")
                          span.alarm_tab_text 게시판
                            span.alarm_noti
                    li.swiper-slide
                      .alarm_item
                        a(href="")
                          span.alarm_tab_text 설문
                            span.alarm_noti
                    li.swiper-slide
                      .alarm_item
                        a(href="")
                          span.alarm_tab_text 자원예약
                            span.alarm_noti
                    li.swiper-slide
                      .alarm_item
                        a(href="")
                          span.alarm_tab_text 시스템
                            span.alarm_noti
              .board_list_alarm_box 
                ul.alarm_board_list_ul_m
                  li.alarm_board_list_li_m
                    .none_data_m

                  li.alarm_board_list_li_m
                    .alarm_board_cate_m
                      .alrm_cate_tit.alarm_tit_mail 메일
                      .alrm_cate_tit.alarm_tit_siren.alarm_warn
                        .icon_alarm.icon_alarm_siren_wt
                        span.hidden 긴급
                    .alarm_board_conts_m
                      dl.alarm_board_conts_box_m
                        dt.alarm_board_conts_title_m 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 
                        dd.alarm_board_conts_text_m 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                        dd.alarm_board_conts_info_m
                          span.alarm_board_conts_writer_m 홍길동 
                          span.alarm_board_conts_date_m 
                            em.alarm_board_conts_day_m 오늘
                            em.alarm_board_conts_time_m 13:00
                    .alarm_board_util_m
                      .alarm_btn_box
                        .alarm_btn_wrap
                          .alarm_btn_ico_box 
                            button.btn.alarm_btn_calender.alarm_btn_calender_m(type="button")
                              i.icon_alarm_m.icon_alarm_m_calender_gry
                              span.hidden 일정
                            //- button.alarm_btn_copy(type="button")
                            //-   i.icon_alarm_m.icon_alarm_m_copy_gry
                            //-   span.hidden 복사
                            button.btn.alarm_btn_recall(type="button")
                              i.icon_alarm_m.icon_alarm_m_recall_gry
                              span.hidden 상기
                        button.btn.alarm_more(type="button") 
                          i.icon_alarm_m.icon_alarm_m_more_bk
                          span.hidden 알림 메뉴 더보기
                        button.btn.alarm_btn_del(type="button") 
                          i.icon_alarm_m.icon_alarm_m_close_bk
                          span.hidden 알림 삭제
                  li.alarm_board_list_li_m
                    .alarm_board_cate_m
                      .alrm_cate_tit.alarm_tit_mail 메일
                      .alrm_cate_tit.alarm_tit_siren.alarm_warn
                        .icon_alarm.icon_alarm_siren_wt
                        span.hidden 긴급
                    .alarm_board_conts_m
                      dl.alarm_board_conts_box_m
                        dt.alarm_board_conts_title_m 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 
                        dd.alarm_board_conts_text_m 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                        dd.alarm_board_conts_info_m
                          span.alarm_board_conts_writer_m 홍길동 
                          span.alarm_board_conts_date_m 
                            em.alarm_board_conts_day_m 오늘
                            em.alarm_board_conts_time_m 13:00
                    .alarm_board_util_m
                      .alarm_btn_box
                        .alarm_btn_wrap
                          .alarm_btn_ico_box 
                            button.btn.alarm_btn_calender.alarm_btn_calender_m(type="button")
                              i.icon_alarm_m.icon_alarm_m_calender_gry
                              span.hidden 일정
                            //- button.alarm_btn_copy(type="button")
                            //-   i.icon_alarm_m.icon_alarm_m_copy_gry
                            //-   span.hidden 복사
                            button.btn.alarm_btn_recall(type="button")
                              i.icon_alarm_m.icon_alarm_m_recall_gry
                              span.hidden 상기
                        button.btn.alarm_more(type="button") 
                          i.icon_alarm_m.icon_alarm_m_more_bk
                          span.hidden 알림 메뉴 더보기
                        button.btn.alarm_btn_del(type="button") 
                          i.icon_alarm_m.icon_alarm_m_close_bk
                          span.hidden 알림 삭제
                  li.alarm_board_list_li_m
                    .alarm_board_cate_m
                      .alrm_cate_tit.alarm_tit_mail 메일
                      .alrm_cate_tit.alarm_tit_siren.alarm_warn
                        .icon_alarm.icon_alarm_siren_wt
                        span.hidden 긴급
                    .alarm_board_conts_m
                      dl.alarm_board_conts_box_m
                        dt.alarm_board_conts_title_m 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 
                        dd.alarm_board_conts_text_m 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                        dd.alarm_board_conts_info_m
                          span.alarm_board_conts_writer_m 홍길동 
                          span.alarm_board_conts_date_m 
                            em.alarm_board_conts_day_m 오늘
                            em.alarm_board_conts_time_m 13:00
                    .alarm_board_util_m
                      .alarm_btn_box
                        .alarm_btn_wrap
                          .alarm_btn_ico_box 
                            button.btn.alarm_btn_calender.alarm_btn_calender_m(type="button")
                              i.icon_alarm_m.icon_alarm_m_calender_gry
                              span.hidden 일정
                            //- button.alarm_btn_copy(type="button")
                            //-   i.icon_alarm_m.icon_alarm_m_copy_gry
                            //-   span.hidden 복사
                            button.btn.alarm_btn_recall(type="button")
                              i.icon_alarm_m.icon_alarm_m_recall_gry
                              span.hidden 상기
                        button.btn.alarm_more(type="button") 
                          i.icon_alarm_m.icon_alarm_m_more_bk
                          span.hidden 알림 메뉴 더보기
                        button.btn.alarm_btn_del(type="button") 
                          i.icon_alarm_m.icon_alarm_m_close_bk
                          span.hidden 알림 삭제
                  li.alarm_board_list_li_m.alarm_read
                    .alarm_board_cate_m
                      .alrm_cate_tit.alarm_tit_mail.alarm_read 메일
                    .alarm_board_conts_m
                      dl.alarm_board_conts_box_m
                        dt.alarm_board_conts_title_m 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 
                        dd.alarm_board_conts_text_m 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                        dd.alarm_board_conts_info_m
                          span.alarm_board_conts_writer_m 홍길동 
                          span.alarm_board_conts_date_m 
                            em.alarm_board_conts_day_m 오늘
                            em.alarm_board_conts_time_m 13:00
                    .alarm_board_util_m
                      .alarm_btn_box
                        .alarm_btn_wrap
                          .alarm_btn_ico_box 
                            button.btn.alarm_btn_calender.alarm_btn_calender_m(type="button")
                              i.icon_alarm_m.icon_alarm_m_calender_gry
                              span.hidden 일정
                            //- button.alarm_btn_copy(type="button")
                            //-   i.icon_alarm_m.icon_alarm_m_copy_gry
                            //-   span.hidden 복사
                            button.btn.alarm_btn_recall(type="button")
                              i.icon_alarm_m.icon_alarm_m_recall_gry
                              span.hidden 상기
                        button.btn.alarm_more(type="button") 
                          i.icon_alarm_m.icon_alarm_m_more_bk
                          span.hidden 알림 메뉴 더보기
                        button.btn.alarm_btn_del(type="button") 
                          i.icon_alarm_m.icon_alarm_m_close_bk
                          span.hidden 알림 삭제
                  li.alarm_board_list_li_m
                    .alarm_board_cate_m
                      .alrm_cate_tit.alarm_tit_mail 메일
                    .alarm_board_conts_m
                      dl.alarm_board_conts_box_m
                        dt.alarm_board_conts_title_m 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 
                        dd.alarm_board_conts_text_m 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                        dd.alarm_board_conts_info_m
                          span.alarm_board_conts_writer_m 홍길동 
                          span.alarm_board_conts_date_m 
                            em.alarm_board_conts_day_m 오늘
                            em.alarm_board_conts_time_m 13:00
                    .alarm_board_util_m
                      .alarm_btn_box
                        .alarm_btn_wrap
                          .alarm_btn_ico_box 
                            button.btn.alarm_btn_calender.alarm_btn_calender_m(type="button")
                              i.icon_alarm_m.icon_alarm_m_calender_gry
                              span.hidden 일정
                            //- button.alarm_btn_copy(type="button")
                            //-   i.icon_alarm_m.icon_alarm_m_copy_gry
                            //-   span.hidden 복사
                            button.btn.alarm_btn_recall(type="button")
                              i.icon_alarm_m.icon_alarm_m_recall_gry
                              span.hidden 상기
                        button.btn.alarm_more(type="button") 
                          i.icon_alarm_m.icon_alarm_m_more_bk
                          span.hidden 알림 메뉴 더보기
                        button.btn.alarm_btn_del(type="button") 
                          i.icon_alarm_m.icon_alarm_m_close_bk
                          span.hidden 알림 삭제
                  