@use '../utiles/var_colors';
@use '../utiles/var';
@use '../config/mixin';

// scss/components/_core.scss
body .txt{
  $font-size:14px;
  font-size:$font-size;
  font-family: var.$fontSet;
  color: var_colors.$shinhan_text_primary;
  line-height: 1.5; // 본문 가독성을 위한 설정
}

body .txt_sm{
  $font-size:13px;
  font-size:$font-size;
  font-family: var.$fontSet;
  color: var_colors.$shinhan_text_primary;
  line-height: em(18px, $font-size);; // 본문 가독성을 위한 설정
}

body .txt_xsm{
  $font-size:12px;
  font-size:$font-size;
  font-family: var.$fontSet;
  color:var_colors.$shinhan_text_gray;
  line-height: em(20px, $font-size);; // 본문 가독성을 위한 설정
}



.active {color:#3b6ee7;}