doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
        link(rel="stylesheet", href="../css/style.css")
        block styles 
        block scripts
        title Document
    body 
        include ../partials/sub_head
        .Page.wrapper(class=page)
            //include ../partials/header 

            block content 
            
            //include ../partials/banner
            //include ../partials/footer

        script(src="https://code.jquery.com/jquery-3.7.1.js",integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=",crossorigin="anonymous")
        //script(src="../js/main.js" defer  )
        //script(src="../js/test.js", type="module")
        //script(src="../js/owl.carousel.js", type="module")
        //script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js")