$primary_color : #3B6EE7;
$primary_bg : #15213D; 

$page_bg : #FFFFFF;

// board list color
$bdcolor            : #DEE2E6;
$bdtopcolor         : #494b50;
$linkColor          : #000;
$cellhovercolor		: #f4f4f4;

// board view color
$viewbdColor    : #dddddd;
$viewbdtopcolor : #5e7182;
$viewheadBgcolor : #f4f4f4;
$viewheadcolor : #333333; 


$shinhan_text_primary:#212529;
$shinhan_text_gray : #7a858f;
$shinhan_text_gray_num: #adb5bd;
$shinhan_acitve : #3b6ee7;
$shinhan_warn : #FF2D55;
$shinhan_bg_gray : #f4f6f8;
$shinhan_bg_disable : #4B4F6D;
$shinhan_bg_icon_gry: #E9ECEF;
$shinhan_bd_gry: #dee2e6;
$shinhan_tbl_gry:#CED4DA;
$color_black        : #000;
$color_white        : #fff;
$color_deepgray     : #333;
$color_gray         : #6f7680;
$color_blue_gray    : #507592;
$color_orange       : #d62e00;
$color_dark_orange  : #C64700;
$color_blue         : $primary_color;
$color_cobalt       : #02728D;
$color_red          : $shinhan_warn;
$color_green        : #0A892A;

$btnbgcolor : $primary_bg;
$btnbdcolor: #C6CBD0;
$btn_bg_red : #e62200;
$btn_bg_purple : #6647EB;
$btn_bg_dark_gray : #72777e;
$btn_bg_gray : #EBEEF0;
$sitecolor : $primary_color;
$color_default: #ffffff;
$bbsBg : #F7F7F8;
$btn_tab_color: #26282C;

$input_bg : #EBEEF0;

/* font color */
.fc_black    {color : $color_black}
.fc_white    {color : $color_white}
.fc_deepgray {color : $color_deepgray}
.fc_gray     {color : $color_gray  }
.fc_orange   {color : $color_orange}
.fc_blue     {color : $color_blue}
.fc_cobalt   {color : $color_cobalt}
.fc_red      {color : $color_red}
.fc_green    {color : $color_green}

.color_black    {color : $color_black}
.color_deepgray {color : $color_deepgray}
.color_orange   {color : $color_orange}
.color_blue     {color : $color_blue}
.color_cobalt   {color : $color_cobalt}
.color_red      {color : $color_red}
.color_green    {color : $color_green}
