$primary_color : #0074e0;
$primary_bg : #0047EB;

$page_bg : #F7F7F8;

// board list color
$bdcolor            : #DDE1E4;
$bdtopcolor         : #494b50;
$linkColor          : #000;
$cellhovercolor		: #f4f4f4;

// board view color
$viewbdColor    : #dddddd;
$viewbdtopcolor : #5e7182;
$viewheadBgcolor : #f4f4f4;
$viewheadcolor : #333333; 


$color_black        : #000;
$color_white        : #fff;
$color_deepgray     : #333;
$color_gray         : #6f7680;
$color_blue_gray    : #507592;
$color_orange       : #d62e00;
$color_dark_orange  : #C64700;
$color_blue         : $primary_color;
$color_cobalt       : #02728D;
$color_red          : #c10101;
$color_green        : #0A892A;

$btnbgcolor : $primary_bg;
$btnbdcolor: #C6CBD0;
$btn_bg_red : #e62200;
$btn_bg_purple : #6647EB;
$btn_bg_dark_gray : #72777e;
$btn_bg_gray : #EBEEF0;
$sitecolor : $primary_color;
$color_default: #ffffff;
$bbsBg : #F7F7F8;
$btn_tab_color: #26282C;

$input_bg : #EBEEF0;

/* font color */
.fc_black    {color : $color_black}
.fc_white    {color : $color_white}
.fc_deepgray {color : $color_deepgray}
.fc_gray     {color : $color_gray  }
.fc_orange   {color : $color_orange}
.fc_blue     {color : $color_blue}
.fc_cobalt   {color : $color_cobalt}
.fc_red      {color : $color_red}
.fc_green    {color : $color_green}

.color_black    {color : $color_black}
.color_deepgray {color : $color_deepgray}
.color_orange   {color : $color_orange}
.color_blue     {color : $color_blue}
.color_cobalt   {color : $color_cobalt}
.color_red      {color : $color_red}
.color_green    {color : $color_green}
