//내가 작성한 header
    header
        .header
            .logo
                h1
                    a(href="#none")
                        img(src=imgurl+"main/logo_swing.png", alt="스윙")
            .shinhan_menu 
                ul.sh_ul
                    li 
                        a(href="#none") 게시판
                    li 
                        a(href="#none") 커뮤니티
        


