<div id="layout_header"><div class="corner"><div></div></div>
// Global Navigation
<div class="gnb">
    <div class="logo">
        <h1 class="logo1"><a href="http://49.247.42.217:8080/business7/shinhan/html/s-work/p01_%EA%B7%B8%EB%A3%B9%EC%9B%A8%EC%96%B4%ED%99%88%EB%A9%94%EC%9D%B8.html"><img src="./img/main/logo_swing.png" alt=""></a></h1>
        <h1 class="logo2"><a href="http://49.247.42.217:8080/business7/shinhan/html/s-work/p01_%EA%B7%B8%EB%A3%B9%EC%9B%A8%EC%96%B4%ED%99%88%EB%A9%94%EC%9D%B8.html"><img src="./img/main/logo_swing.png" alt=""></a></h1>
    </div>
    <div class="shinhan_menu">
        <ul class="sh_ul">
            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/culture/p01_culture_pot.html">신한 Culture Pot</a></li>
            <li>
                <div class="btn_drop">
                    <button type="button" data-toggle="dropdown" class="btn btn_link drop_tgl">CoP</button>
                    <ul class="drop_menu">
                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/forum/p01_%EC%BB%A4%EB%AE%A4%EB%8B%88%ED%8B%B0_%ED%99%88.html">CoP</a></li>
                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#board_select_lyr" onclick="openDialog('board_select_lyr');return false">부서 게시판</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html">게시판</a></li>
            // <li><a href="#">통합검색</a></li>
        </ul>
        <ul class="cm_ul">
            <li>
                <div class="btn_drop">
                    <button type="button" data-toggle="dropdown" class="fd">영업영업영업영업영업영업</button>
                    <ul class="drop_menu">
                        <li class="drop_submenu">
                            <a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">영업정보</a>
                            <ul class="drop_menu">
                                <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">서울</a></li>
                                <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">대전</a></li>
                                <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">대구</a></li>
                                <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">부산</a></li>
                            </ul>
                        </li>
                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">거래처 정보</a></li>
                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">2022년 상품목록</a></li>
                        <li class="pop"><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">영업관리시스템</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#" class="fd">HRHRHRHRHRHRHRHRHRHRHRHR</a></li>
            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#" onclick="window.open('../auth/p01_통합인증_로그인.html', 'auth_lyr', 'width=360, height=720 scrollbars=no, resizable=no')">통합 인증 로그인</a></li>
            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">4메뉴명메뉴명메뉴명메뉴명</a></li>
            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">5메뉴명메뉴명메뉴명메뉴명</a></li>
            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">6메뉴명메뉴명메뉴명메뉴명</a></li>
            <li>
                <div class="btn_drop">
                    <button type="button" data-toggle="dropdown" class="fd">7메뉴명메뉴명메뉴명메뉴명</button>
                    <ul class="drop_menu">
                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">7-1메뉴명</a></li>
                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">7-2메뉴명</a></li>
                        <li class="drop_submenu">
                            <a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">7-3메뉴명</a>
                            <ul class="drop_menu">
                                <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">7-3-1메뉴명</a></li>
                                <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">7-3-2메뉴명</a></li>
                                <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">7-3-3메뉴명</a></li>
                            </ul>
                        </li>
                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">7-4메뉴명</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">8메뉴명메뉴명메뉴명메뉴명</a></li>
            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">9메뉴명메뉴명메뉴명메뉴명</a></li>
            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">10메뉴명메뉴명메뉴명메뉴명</a></li>
            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">11메뉴명메뉴명메뉴명메뉴명</a></li>
            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">12메뉴명메뉴명메뉴명메뉴명</a></li>
            <li class="more">
                <div class="btn_drop">
                    <button type="button" data-toggle="dropdown" class="btn cm_more"><span>more</span></button>
                    <div class="drop_box pull_right skbg">
                        <div class="arr skbd"></div>
                        <ul>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">영업</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">HR</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">통합 인증 로그인</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">4메뉴명</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">5메뉴명</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">6메뉴명</a></li>
                            <li class="li_fd"><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">7메뉴명</a>
                                <ul>
                                    <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">7-1메뉴명</a></li>
                                    <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">7-2메뉴명</a></li>
                                    <li class="sb"><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">7-3메뉴명</a>
                                        <ul>
                                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">7-3-1메뉴명</a></li>
                                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">7-3-1메뉴명</a></li>
                                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">7-3-1메뉴명</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">7-4메뉴명</a></li>
                                </ul>
                            </li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">8메뉴명</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">9메뉴명</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">10메뉴명</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">11메뉴명</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">12메뉴명</a></li>
                            <li class="no_data">즐겨찾기가 없습니다.</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="gnb_menu">
        <ul class="gm_ul">
            <li class="gm_li gm_srch">
                <div class="btn_drop">
                    <button type="button" data-toggle="dropdown" title="검색" class="btn btn_srch drop_tgl"><span>검색</span></button>
                    <div class="drop_box unhide pull_right">
                        <div class="search_bar">
                            <input name="" type="text" title="검색어" placeholder="검색어를 입력하세요." class="srch_input">
                            <button type="button" title="초기화" class="btn_exclude"><span>초기화</span></button>
                            <button type="button" title="검색" class="btn_search"><span>검색</span></button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="gm_li gm_noti"><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#" title="알림" onclick="openNotify();return false" class="btn_noti"><span>알림</span><span class="dot"></span></a></li>
            <li class="gm_li gm_svc_open"><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#" title="전체메뉴 열기" onclick="svcLayerOpen();return false" class="btn_svc_open"><span>전체메뉴 열기</span></a></li>
            <li class="gm_li gm_svc_close"><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#" title="전체메뉴 닫기" onclick="svcLayerClose();return false" class="btn_svc_close"><span>전체메뉴 닫기</span></a></li>
        </ul>
    </div>
</div>
//// Global Navigation 
// Local Navigation 
<div id="lnb" class="lnb">
    <div class="lnb_fold">
        <div class="wrng"><i class="icon tip_r" data-original-title="대시보드 카운트 실시간 연결이 실패했습니다."><span>ⓘ</span></i></div>
        <button type="button" onclick="toggleNav();" class="btn_fold"><span>메뉴 접기/펴기</span></button>
    </div>
    <div class="nav">
        <div id="main_menu" class="main_menu">
            <ul id="svc_lst" class="svc_lst">
                <li class="nt nt_1">
                    <a href="http://49.247.42.217:8080/business7/shinhan/html/mail/p01_%EB%B0%9B%EC%9D%80%EB%A9%94%EC%9D%BC.html" title="메일" class="nta"><i class="nti nti_mail"></i><span class="txt">메일</span><span class="count">16</span></a>
                    <div class="nt_sub sub_h3">
                        <ul>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">받은 메일</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">읽지않은 메일</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">보낸 메일</a></li>
                        </ul>
                        <iframe frameborder="0" scrolling="no" class="nt_fix" title="" src="./게시판_files/saved_resource.html"></iframe>
                    </div>
                </li>
                <li class="nt nt_4"><a href="http://49.247.42.217:8080/business7/shinhan/html/eapp/p10_%EA%B2%B0%EC%9E%AC%ED%95%A8_%EB%AA%A9%EB%A1%9D.html" title="결재" class="nta"><i class="nti nti_app"></i><span class="txt">결재</span><span class="count">2</span></a></li>
                <li class="nt nt_5"><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#sh_schedule_lyr" onclick="openSchedule();return false" title="일정" class="nta"><i class="nti nti_cal"></i><span class="txt">일정</span><span class="count">4</span></a></li>
                <li class="nt nt_8"><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#sh_todo_lyr" onclick="openTodo();return false" title="할일" class="nta"><i class="nti nti_todo"></i><span class="txt">할일</span></a></li>
                <li class="nt nt_8"><a href="http://49.247.42.217:8080/business7/shinhan/html/role/p01_%EB%B0%9B%EC%9D%80%EC%97%AD%ED%95%A0%ED%86%B5%EC%A7%80.html" title="역할" class="nta"><i class="nti nti_rtag"></i><span class="txt">역할</span></a></li>
                <li class="nt nt_8"><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p11_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EA%B5%AC%EB%8F%85%ED%95%A8.html" title="구독" class="nta"><i class="nti nti_sbsc"></i><span class="txt">구독</span></a></li>
                <li class="nt nt_8"><a href="http://49.247.42.217:8080/business7/shinhan/html/filebox/p02_%EC%8A%A4%ED%81%AC%EB%9E%A9.html" title="내 서랍" class="nta"><i class="nti nti_drwr"></i><span class="txt">내 서랍</span></a></li>
                <li class="nt nt_9"><a href="http://49.247.42.217:8080/business7/shinhan/html/s-agile/p10_%EC%8A%A4%ED%8E%98%EC%9D%B4%EC%8A%A4%ED%99%88.html" title="협업" class="nta"><i class="nti nti_agile"></i><span class="txt">협업</span><span class="count">8</span></a></li>
                <li class="divider"></li>
                // <li class="nt nt_12"><a href="#" title="화상회의" class="nta"><i class="nti nti_vcon"></i><span class="txt">화상회의</span></a></li> <li class="nt nt_8"><a href="#" title="일반업무" class="nta"><i class="nti nti_work"></i><span class="txt">일반업무</span></a></li>
                <li class="nt nt_7"><a href="http://49.247.42.217:8080/business7/shinhan/html/equipment/p01_%EC%9E%90%EC%9B%90%EC%98%88%EC%95%BD_%EB%A9%94%EC%9D%B8.html" title="자원예약" class="nta"><i class="nti nti_equ"></i><span class="txt">자원예약</span><span class="dot"></span></a></li>
                <li class="nt nt_7"><a href="http://49.247.42.217:8080/business7/shinhan/html/address/p01_%EC%A3%BC%EC%86%8C%EB%A1%9D_%EB%AA%A9%EB%A1%9D.html" title="주소록" class="nta"><i class="nti nti_ads"></i><span class="txt">주소록</span></a></li>
            </ul>
        </div>
        <div class="account">
            <ul class="ac_lst">
                <li class="ac ac_user">
                    <div class="btn_drop">
                        <button type="button" data-toggle="dropdown" class="photo"><img src="./게시판_files/@tmp_photo.png" alt=""></button>
                        <ul class="drop_menu">
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">여신기획부:신한은행</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">ICT기획부:신한은행</a></li>
                            <li class="divider"></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#ip_log_lyr" onclick="openDialog('ip_log_lyr');return false">접속IP 정보</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#mypage_lyr" onclick="openDialog('mypage_lyr');return false">마이페이지</a></li>
                        </ul>
                    </div>
                </li> 
                <li class="ac ac_help">
                    <div class="btn_drop">
                        <button type="button" data-toggle="dropdown" title="도움말" class="aca"><i class="aci aci_help"></i><span class="txt">도움말</span></button>
                        <ul class="drop_menu">
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#shinhan_intro_lyr" onclick="openDialog('shinhan_intro_lyr');return false">NEW 그룹웨어 소개</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/FAQ_%ED%8C%9D%EC%97%85.html" onclick="window.open(this.href, 'popup_faq', 'width=1140, height=740 scrollbars=no, resizable=yes');return false">NEW 그룹웨어 FAQ</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#shinhan_guide_lyr" onclick="openDialog('shinhan_guide_lyr');return false">화면 가이드</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#shortcut_key_lyr" onclick="openDialog('shortcut_key_lyr');return false">단축키 가이드</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">FAQ</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">1:1 문의</a></li>
                        </ul>
                    </div>
                </li>
                <li class="ac ac_setup">
                    <div class="btn_drop">
                        <button type="button" data-toggle="dropdown" title="설정" class="aca"><i class="aci aci_setup"></i><span class="txt">설정</span></button>
                        <ul class="drop_menu">
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/setup/p01_%EA%B0%9C%EC%9D%B8%ED%99%98%EA%B2%BD%EC%84%A4%EC%A0%95.html">개인환경설정</a></li>
                            <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#pd_start_lyr" onclick="openDialog('pd_start_lyr');return false">포탈디자이너</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
//// Local Navigation 
// 알림센터 
<div id="sh_notify_lyr" class="sh_notify_lyr">
    <div id="split_rgt" class="split_rgt"></div>
    <button type="button" onclick="closeNotify()" title="일정 닫기" class="btn_coloe"><span>일정 닫기</span></button>
    <div class="noti_center_box">
        <div class="box_tit">
            <div class="tit">
                <strong>알림센터</strong>
                <button type="button" title="도움말" class="tp_info"><span>!</span></button>
            </div>
            <div class="optn">
                <div class="noti_switch">
                    <div class="on_label"><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#conct_guide" onclick="toggleLayer('conct_guide');return false" class="tp_info"><span>!</span></a> 집중근무</div>
                    <div class="on_switch switch_lst">
                        <input type="checkbox" name="onoffswitch" id="on1" class="switch_chk" checked="">
                        <label class="switch_label" for="on1">
                            <span class="switch_inner"></span>
                            <span class="switch_btn"></span>
                        </label>
                    </div>
                </div>
                <button type="button" title="알림설정" onclick="openDialog('notify_setup_lyr')" class="btn btn_setup"><span>알림설정</span></button>
            </div>
            <div id="conct_guide" class="conct_guide">
                <ul class="bu_lst">
                    <li>집중근무 On 으로 설정 시 <strong>'2시간'</strong> 동안 알림을 받지 않습니다.</li>
                    <li>알림센터에는 '알림'을 볼 수 있으나, <strong>PC 팝업알림 및 모바일에서 알림을 받지 않게 됩니다.</strong></li>
                    <li>집중근무 Off 로 변경 시 즉시 알림을 받을 수 있습니다.</li>
                </ul>
            </div>
        </div>
        <div class="box_tabs">
            <ul class="nav nav_pills">
                <li class="active"><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#" data-toggle="tab"><span title="미확인" class="name">미확인</span><span class="count">16</span></a></li>
                <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#" data-toggle="tab"><span title="전체" class="name">전체</span></a></li>
                <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#" data-toggle="tab"><span title="긴급" class="name">긴급</span></a></li>
                <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#" data-toggle="tab"><span title="중요" class="name">중요</span><span class="count">2</span></a></li>
                <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#" data-toggle="tab"><span title="일반" class="name">일반</span></a></li>
                <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#" data-toggle="tab"><span title="거부" class="name">거부</span></a></li>
            </ul>
            <div class="btn_drop">
                <button type="button" data-toggle="dropdown" class="btn drop_set"><span>설정</span></button>
                <ul class="drop_menu pull_right">
                    <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">전체 일괄 삭제</a></li>
                    <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">읽은 알림 삭제</a></li>
                    <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">전체 읽음 표시</a></li>
                    <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#set_period_lyr" onclick="openDialog('set_period_lyr');return false">조회 기간 설정</a></li>
                </ul>
            </div>
        </div>
        <div class="box_srch">
            <div class="srch_bar">
                <input name="" type="text" title="검색어" placeholder="검색어" class="input_txt">
                <button type="button" title="검색" class="btn btn_ico"><i class="ico ico_srch"><span>검색</span></i></button>
                <button type="button" title="초기화" class="btn btn_ico"><i class="ico ico_rfsh"><span>초기화</span></i></button>
            </div>
        </div>
        <div class="box_cont custom_scroll">
            <div class="noti_list">
                <ul>
                    <li class="unread">
                        <div class="noti_block fold noti_em">
                            <div class="icon">
                                <div class="icon_swork"><span>S-Work</span></div>
                            </div>
                            <div class="info">
                                <span class="noti">내부공지</span>
                                <span class="date">1시간 전</span>
                            </div>
                            <a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">
                                <div class="sub">'오류 안내' 네트워크 시스템 오류 안내입니다.</div>
                                <div class="desc">
                                    | 'DB서버 장애 안내'
                                    <br>
                                    <br>
                                    | DB서버 비정상 종료로 인해 모든 업무가 장애중으로 해당 그룹웨어 사용이 1시간 동안 제한됩니다.<br>
                                    <br>
                                    | 양해 부탁 드립니다.
                                </div>
                            </a>
                            <div class="more"><button type="button" onclick="openDialog('notify_detail_lyr')" class="btn btn_sml">상세보기</button></div>
                            <div class="optn">
                                <div class="btn_drop drop_set">
                                    <button type="button" data-toggle="dropdown" title="설정" class="btn"><span>설정</span></button>
                                    <ul class="drop_menu pull_right">
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#date_time_lyr" onclick="openDialog('date_time_lyr');return false">다시 알림</a></li>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">할일 등록</a></li>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#notify_refusal_lyr" onclick="openDialog('notify_refusal_lyr');return false">동일알림 수신거부</a></li>
                                    </ul>
                                </div>
                                <button type="button" title="삭제" class="btn_del"><span>삭제</span></button>
                                <button type="button" title="접기/펴기" class="btn_fold"><span>접기/펴기</span></button>
                            </div>
                        </div>
                    </li>
                    <li class="unread">
                        <div class="noti_block fold">
                            <div class="icon">
                                <a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#user_info_dialog" onclick="openDialog('user_info_dialog');return false">
                                    <div class="thmb thmb_3"><img src="./게시판_files/@tmp_photo.png" alt=""><strong>김</strong></div>
                                    <div class="name">김신한 <span class="ps">선임</span></div>
                                </a>
                            </div>
                            <div class="info">
                                <span class="noti">게시물 등록 알림</span>
                                <span class="date">2시간 전</span>
                            </div>
                            <a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">
                                <div class="sub"><i title="첨부" class="lico lico_atch"><span>첨부</span></i> [업무카드] S-Work 메일 접속 장애 발생</div>
                                <div class="desc">DB서버 비정상 종료로 인해 모든 업무가 장애중으로 해당 그룹웨어 사용이 1시간 동안 제한됩니다. 양해 부탁 드립니다.</div>
                            </a>
                            <div class="optn">
                                <button type="button" title="설정" class="btn_set"><span>설정</span></button>
                                <button type="button" title="삭제" class="btn_del"><span>삭제</span></button>
                                <button type="button" title="접기/펴기" class="btn_fold"><span>접기/펴기</span></button>
                            </div>
                        </div>
                    </li>
                    <li class="unread">
                        <div class="noti_block fold noti_im">
                            <div class="icon">
                                <a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#user_info_dialog" onclick="openDialog('user_info_dialog');return false">
                                    <div class="thmb thmb_3"><img src="./게시판_files/@tmp_photo.png" alt=""><strong>김</strong></div>
                                    <div class="name">김신한 <span class="ps">금융상담사</span></div>
                                </a>
                            </div>
                            <div class="info">
                                <span class="noti">역할태그 중요 게시물 등록</span>
                                <span class="date">2022-10-13</span>
                            </div>
                            <a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">
                                <div class="sub">[구독게시판] <span class="ib">#광교영업점</span>이 태그된 게시물 입니다.</div>
                                <div class="desc">김신한님이 '광교영업점'이 태그된 게시물을 생성했습니다.</div>
                            </a>
                            <div class="optn">
                                <button type="button" title="설정" class="btn_set"><span>설정</span></button>
                                <button type="button" title="삭제" class="btn_del"><span>삭제</span></button>
                                <button type="button" title="접기/펴기" class="btn_fold"><span>접기/펴기</span></button>
                            </div>
                        </div>
                    </li>
                    <li class="unread">
                        <div class="noti_block fold">
                            <div class="icon">
                                <a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#user_info_dialog" onclick="openDialog('user_info_dialog');return false">
                                    <div class="thmb thmb_3"><img src="./게시판_files/@tmp_photo.png" alt=""><strong>김</strong></div>
                                    <div class="name">김신한 <span class="ps">선임</span></div>
                                </a>
                            </div>
                            <div class="info">
                                <span class="noti">게시물 등록 알림</span>
                                <span class="date">2022-10-13</span>
                            </div>
                            <a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">
                                <div class="sub"><i title="링크" class="lico lico_link"><span>링크</span></i> 여신기획부 네트워크 시스템 오류 안내</div>
                                <div class="desc">모든 업무가 장애중으로 해당 그룹웨어 사용이 1시간 동안 제한됩니다. 양해 부탁 드립니다.</div>
                            </a>
                            <div class="optn">
                                <button type="button" title="설정" class="btn_set"><span>설정</span></button>
                                <button type="button" title="삭제" class="btn_del"><span>삭제</span></button>
                                <button type="button" title="접기/펴기" class="btn_fold"><span>접기/펴기</span></button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="noti_block fold">
                            <div class="icon">
                                <a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#user_info_dialog" onclick="openDialog('user_info_dialog');return false">
                                    <div class="thmb thmb_3"><img src="./게시판_files/@tmp_photo.png" alt=""><strong>김</strong></div>
                                    <div class="name">김신한 <span class="ps">선임</span></div>
                                </a>
                            </div>
                            <div class="info">
                                <span class="noti">게시물 등록 알림</span>
                                <span class="date">2022-10-13</span>
                            </div>
                            <a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">
                                <div class="sub"><i title="첨부" class="lico lico_atch"><span>첨부</span></i> 네트워크 시스템 오류 안내입니다.</div>
                                <div class="desc">DB서버 비정상 종료로 인해 모든 업무가 장애중으로 해당 그룹웨어 사용이 1시간 동안 제한됩니다. 양해 부탁 드립니다.</div>
                            </a>
                            <div class="optn">
                                <div class="btn_drop drop_set">
                                    <button type="button" data-toggle="dropdown" title="설정" class="btn"><span>설정</span></button>
                                    <ul class="drop_menu pull_right">
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">다시 알림</a></li>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">할일 등록</a></li>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">동일알림 수신거부</a></li>
                                    </ul>
                                </div>
                                <button type="button" title="삭제" class="btn_del"><span>삭제</span></button>
                                <button type="button" title="접기/펴기" class="btn_fold"><span>접기/펴기</span></button>
                            </div>
                        </div>
                    </li>
                    <li class="no_data">
                        <div class="guide_ico"></div>
                        <div class="guide_txt">알림이 없습니다.</div>
                    </li>
                </ul>
                script.
                    $(function() {
                        $('.noti_block .optn .btn_fold').click(function () {
                            if($(this).closest('.noti_block').hasClass('fold')) {
                                $(this).closest('.noti_block').removeClass('fold');
                            } else {
                                $(this).closest('.noti_block').addClass('fold');   
                            }
                        });
                    });
            </div>
        </div>
        <div class="box_btm">
            <div class="pagination page_nml">
                <ul>
                    <li class="disabled"><span class="page_frst"><span>First</span></span></li>
                    <li class="disabled"><span class="page_prev"><span>Prev</span></span></li>
                    <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">1</a></li>
                    <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">2</a></li>
                    <li class="active"><span>3</span></li>
                    <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">4</a></li>
                    <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#">5</a></li>
                    <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#" class="page_next"><span>Next</span></a></li>
                    <li><a href="http://49.247.42.217:8080/business7/shinhan/html/board/p01_%EA%B2%8C%EC%8B%9C%ED%8C%90_%EB%AA%A9%EB%A1%9D%ED%98%95.html#" class="page_last"><span>Last</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
//// 알림센터 
// 사용자 정보 레이어 

//// 사용자 정보 레이어 
// 마이 페이지 레이어 

//// 마이 페이지 레이어 
// 접속IP 정보 레이어 
<div class="section_helpdesk">
    <button type="button" title="Swing 고객센터" onclick="toggleLayer('swing_hd_lyr');" class="btn_hd">
        <div class="tit"><span>고객센터</span></div>
    </button>
    <button type="button" title="접기" onclick="toggleHd();" class="btn_fold"></button>
    // Swing 고객센터 레이어
    <div id="swing_hd_lyr" class="swing_hd_lyr" style="display:none;">
        <div class="helpdesk_chat">
            <div class="chat_tit">
                <h3>Swing 고객센터</h3>
                <button type="button" onclick="hideLayer('swing_hd_lyr')" class="btn_close"><span>닫기</span></button>
            </div>
            <div class="chat_cont">
                <div class="cont_scroll">
                    // 대화
                    <div class="msg_div">
                        <div class="photo"><img src="./전자결재_files/swing_char.png" alt=""></div>
                        <div class="msg_box">
                            <div class="msg">
                                <div class="txt">
                                    | 메뉴별 <strong class="hl">FAQ찾기와 1:1문의</strong>로<br>
                                    | 궁금한 점을 빠르게 해결하세요!
                                </div>
                                <div class="button mgt">
                                    <button type="button" class="btn btn_block">Swing 고객센터 바로가기</button>
                                </div>
                                <div class="faq">
                                    <ul>
                                        <li class="active"><a href="http://49.247.42.217:8080/business7/shinhan/html/eapp/p10_%EA%B2%B0%EC%9E%AC%ED%95%A8_%EB%AA%A9%EB%A1%9D.html#" class="btn">문의 Top 5</a></li>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/eapp/p10_%EA%B2%B0%EC%9E%AC%ED%95%A8_%EB%AA%A9%EB%A1%9D.html#" class="btn">결재</a></li>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/eapp/p10_%EA%B2%B0%EC%9E%AC%ED%95%A8_%EB%AA%A9%EB%A1%9D.html#" class="btn">스윙챗</a></li>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/eapp/p10_%EA%B2%B0%EC%9E%AC%ED%95%A8_%EB%AA%A9%EB%A1%9D.html#" class="btn">일정</a></li>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/eapp/p10_%EA%B2%B0%EC%9E%AC%ED%95%A8_%EB%AA%A9%EB%A1%9D.html#" class="btn">할일</a></li>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/eapp/p10_%EA%B2%B0%EC%9E%AC%ED%95%A8_%EB%AA%A9%EB%A1%9D.html#" class="btn">역할</a></li>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/eapp/p10_%EA%B2%B0%EC%9E%AC%ED%95%A8_%EB%AA%A9%EB%A1%9D.html#" class="btn">구독</a></li>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/eapp/p10_%EA%B2%B0%EC%9E%AC%ED%95%A8_%EB%AA%A9%EB%A1%9D.html#" class="btn">내서랍</a></li>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/eapp/p10_%EA%B2%B0%EC%9E%AC%ED%95%A8_%EB%AA%A9%EB%A1%9D.html#" class="btn">S.A.Q</a></li>
                                    </ul>
                                </div>
                                <div class="optn">
                                    <button type="button" class="btn_link">FAQ 더보기 <i class="ico ico_rgt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    //// 대화
                    // 답변
                    <div class="msg_div">
                        <div class="photo"><img src="./전자결재_files/swing_char.png" alt=""></div>
                        <div class="msg_box">
                            <div class="msg">
                                <div class="link">
                                    <ul>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/eapp/p10_%EA%B2%B0%EC%9E%AC%ED%95%A8_%EB%AA%A9%EB%A1%9D.html#">메일 FAQ 제목입니다. 메일 FAQ 제목입니다. 메일 FAQ 제목입니다. 메일 FAQ 제목입니다.</a></li>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/eapp/p10_%EA%B2%B0%EC%9E%AC%ED%95%A8_%EB%AA%A9%EB%A1%9D.html#">메일 FAQ 제목입니다.</a></li>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/eapp/p10_%EA%B2%B0%EC%9E%AC%ED%95%A8_%EB%AA%A9%EB%A1%9D.html#">메일 FAQ 제목입니다.</a></li>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/eapp/p10_%EA%B2%B0%EC%9E%AC%ED%95%A8_%EB%AA%A9%EB%A1%9D.html#">메일 FAQ 제목입니다.</a></li>
                                        <li><a href="http://49.247.42.217:8080/business7/shinhan/html/eapp/p10_%EA%B2%B0%EC%9E%AC%ED%95%A8_%EB%AA%A9%EB%A1%9D.html#">메일 FAQ 제목입니다.</a></li>
                                    </ul>
                                </div>
                                <div class="optn">
                                    <button type="button" class="btn_link">메일 FAQ 더보기 <i class="ico ico_rgt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    //// 답변
                </div>
            </div>
            <div class="chat_btm">
                <div class="search_bar">
                    <input name="" type="text" title="검색어" placeholder="궁금한 내용을 입력하세요." class="srch_input">
                    <button type="button" title="초기화" class="btn_exclude"><span>초기화</span></button>
                    <button type="button" title="검색" class="btn_search"><span>검색</span></button>
                </div>
            </div>
        </div>
    </div>
    //// Swing 고객센터 레이어 
</div>
script.
    // 알림센터 너비 리사이즈
    $(function(){
        var min = 400;
        var max = 700;
        var mainmin = 400;

        $('#split_rgt').mousedown(function (e) {
            e.preventDefault();
            $(document).mousemove(function (e) {
                e.preventDefault();
                var x = $('#sh_notify_lyr').offset().left + $('#sh_notify_lyr').outerWidth() - e.pageX;
                if (x > min && x < max && e.pageX > mainmin) {
                    $('#sh_notify_lyr').css("width", x);
                }
            })
        });

        $(document).mouseup(function (e) {
            $(document).unbind('mousemove');
        });
    });

    $(document).ready(function() {
        UI.init();

        // 별표 아이콘 토글
        $('.service_menu a.star_chk').click(function(){
            if ($(this).hasClass('chk_on')) {
                $(this).removeClass('chk_on').attr('title','별표하기');
                $(this).children('span').html('별표하기');
            } else {
                $(this).addClass('chk_on').attr('title','별표해제');
                $(this).children('span').html('별표해제');
            }; return false;
        });

        $(".tip_r").tooltip({
            placement: 'right',
            delay: { show: 500, hide: 0 }
        });

        // Swing 고객센터 플로팅 선택
        $(".swing_hd_lyr .faq li a").each(function () {
            $(this).click(function () {
                $(this).closest('li').addClass("active");
                $(this).closest('li').siblings().removeClass("active");
            });
        });
    });

    $(function() {
        // 사용자 정보
        $("#user_info_dialog").dialog({
            dialogClass: "user_info_dialog",
            modal: true,
            autoOpen: false,
            resizable: false,
            show: "fade",
            hide: "fade",
            width: "360"
        });

        // 마이 페이지 레이어
        $("#mypage_lyr").dialog({
            dialogClass: "mypage_lyr",
            modal: true,
            autoOpen: false,
            resizable: false,
            show: "fade",
            hide: "fade",
            width: "1200"
        });
        
        // 접속IP 정보 레이어
        $("#ip_log_lyr").dialog({
            dialogClass: "ip_log_lyr",
            modal: true,
            autoOpen: false,
            resizable: false,
            show: "fade",
            hide: "fade",
            width: "380"
        });
    });

    function openSchedule(){
        $('.sh_todo_lyr').hide('slide');
        $('.sh_schedule_lyr').show('slide');
    }

    function closeSchedule(){
        $('.sh_schedule_lyr').hide('slide');
    }

    function openTodo(){
        $('.sh_schedule_lyr').hide('slide');
        $('.sh_todo_lyr').show('slide');
    }

    function closeTodo(){
        $('.sh_todo_lyr').hide('slide');
    }

    function openNotify(){
        $('.sh_notify_lyr').css("z-index", '6');
        $('.sh_notify_lyr').show("slide", { direction: "right" });
    }

    function closeNotify(){
        $('.sh_notify_lyr').css("z-index", '');
        $('.sh_notify_lyr').hide("slide", { direction: "right" });
    }

    function toggleNav(){
        if ($('#layout_wrap').hasClass('fold_nav')) {
            $('#layout_wrap').removeClass('fold_nav');
        } else  {
            $('#layout_wrap').addClass('fold_nav');
        }
    }

    function toggleHd(){
        if ($('.section_helpdesk').hasClass('fold')) {
            $('.section_helpdesk').removeClass('fold');
            $('.section_helpdesk .btn_fold').attr('title','접기');
        } else  {
            $('.section_helpdesk').addClass('fold');
            $('.section_helpdesk .btn_fold').attr('title','펴기');
        }
    }
