.modal_outer_alarm.alarm_wrap
    .modal_dimmed_alarm
        .modal_conts_alarm.modal_calender_alarm 
            .modal_wrap_alarm 
                .modal_header_alarm 
                    h2.modal_title 알림 스케쥴
                    button.btn.btn_close_alarm_modal(type="button") 닫기 
                        i.icon_close
                .modal_body_alarm 
                    .alarm_wrap_alarm 
                        
                .modal_footer_alarm 
                    button.btn.btn_close_alarm_modal(type="button") 닫기
        .modal_conts_alarm.modal_srch_alarm_filter 
            .modal_wrap_alarm 
                .modal_header_alarm 
                    h2.modal_title.hidden 알림 필터
                    form.srch_alarm_form2( action="#none" method="get")
                        label.srch_label.hidden(for="search_alrm_keyword2") 
                            span.hidden 검색  
                        input.input_alarm_text2( type="text" placeholder="검색어를 입력하세요." name="search__alrm_keyword2" id="search_alrm_keyword2")
                        button.btn.srch_alarm_btn2( type="button") 
                            i.icon_alarm.icon_alarm_search_bk
                            span.hidden 검색
                .modal_body_alarm 
                    .alarm_srch_wrap
                        .alarm_srch_filter_list
                            h3.alarm_strong 알림 종류
                            ul.alarm_srch_filter_list_ul.alarm_srch_filter_list_cate
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_mail")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_mail" id="filter_alarm_mail")
                                        span.alarm_srch_filter_txt 메일
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_approve")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_approve" id="filter_alarm_approve")
                                        span.alarm_srch_filter_txt 결재
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_tag")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_tag" id="filter_alarm_scedule")
                                        span.alarm_srch_filter_txt 일정
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_todo")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_todo" id="filter_alarm_todo")
                                        span.alarm_srch_filter_txt 할일
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_tag")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_tag" id="filter_alarm_tag")
                                        span.alarm_srch_filter_txt 태그
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_SAQ")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_SAQ" id="filter_alarm_SAQ")
                                        span.alarm_srch_filter_txt SAQ
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_memo")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_memo" id="filter_alarm_memo")
                                        span.alarm_srch_filter_txt 쪽지
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_subscribe")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_subscrib" id="filter_alarm_subscribe ")
                                        span.alarm_srch_filter_txt 구독
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_drawer")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_drawer" id="filter_alarm_drawer")
                                        span.alarm_srch_filter_txt 내서랍
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_board")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_board" id="filter_alarm_board")
                                        span.alarm_srch_filter_txt 게시판
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_survey")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_survey" id="filter_alarm_survey")
                                        span.alarm_srch_filter_txt 설문
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_resource")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_resource" id="filter_alarm_resource")
                                        span.alarm_srch_filter_txt 자원예약
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_system")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_system" id="filter_alarm_system")
                                        span.alarm_srch_filter_txt 시스템
                        .alarm_srch_filter_list
                            h3.alarm_strong 알림 확인
                            ul.alarm_srch_filter_list_ul.alarm_srch_filter_list_confirm
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_confirm")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_confirm" id="filter_alarm_confirm")
                                        span.alarm_srch_filter_txt 확인
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_confirm_yet")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_confirm_yet" id="filter_alarm_confirm_yet")
                                        span.alarm_srch_filter_txt 미확인
                        .alarm_srch_filter_list
                            h3.alarm_strong 제목/내용
                            ul.alarm_srch_filter_list_ul.alarm_srch_filter_list_title
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_tit")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_tit" id="filter_alarm_tit")
                                        span.alarm_srch_filter_txt 제목
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_conts")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_conts" id="filter_alarm_conts")
                                        span.alarm_srch_filter_txt 내용
                        .alarm_srch_filter_list.margin_0
                            h3.alarm_strong 조회기간
                            ul.alarm_srch_filter_list_ul.alarm_srch_filter_list_period
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_date_today")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_date_today" id="filter_alarm_date_today")
                                        span.alarm_srch_filter_txt 오늘
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_date_week")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_date_week" id="filter_alarm_date_week")
                                        span.alarm_srch_filter_txt 일주일
                                li.alarm_srch_filter_list_li
                                    label.alarm_srch_filter_label(for="filter_alarm_date_month")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_date_month" id="filter_alarm_date_month")
                                        span.alarm_srch_filter_txt 한달
                        .alarm_srch_filter_list
                            .alarm_strong 
                            ul.alarm_srch_filter_list_ul.alarm_srch_filter_list_date
                                li.alarm_srch_filter_list_li.expand
                                    label.alarm_srch_filter_label(for="filter_alarm_direct_text")
                                        input.alarm_srch_filter_input(type="checkbox" name="filter_alarm_direct_text" id="filter_alarm_direct_text")
                                        span.alarm_srch_filter_txt 직접입력
                                    .alarm_srch_slct_box 
                                        <input name="" type="text" title="날짜선택" placeholder="yyyy-mm-dd" class="input_date hasDatepicker alarm_date_picker" id="dp1754556217703"> -
                                        span.input_wrap_alarm 
                                            <input name="" type="text" title="날짜선택" placeholder="yyyy-mm-dd" class="input_date hasDatepicker alarm_date_picker" id="dp1754556217704">
                                            .alarm_btn_ico_box 
                                                button.srch_alarm_modal_opener(type="button")
                                                    i.icon_alarm.icon_alarm_calendar_gry
                                                    span.hidden 스케쥴
                                        button.btn.alarm_srch_refresh(type="button")
                                            i.icon_alarm.icon_alarm_refresh_bk
                                            span.hidden 조회기간 직접입력 값 새로고침
                .modal_footer_alarm 
                    .modal_footer_alarm_txt * 필터에서 선택한 알림만 검색합니다.  모든 알림을 검색하려면 초기화하세요
                    button.btn.alarm_srch_refreshAll(type="button")
                        span 전체 초기화
                        i.icon_alarm.icon_alarm_refresh_bk
                .modal_alarm_srch_schedule
                    .modal_wrap_alarm 
                        .modal_header_alarm 
                            h2.modal_title 검색 기간 조정
                            button.btn.btn_close_alarm_schedule_modal(type="button") 닫기 
                                i.icon_close
                        .modal_body_alarm 
                            .alarm_wrap_alarm 
                                
                        .modal_footer_alarm 
                            button.btn.btn_close_alarm_schedule_modal(type="button") 닫기
