//내가 작성한 네비게이터
    .lnb 
        .lnb_fold
            .wrng
                i.icon.tip_r
                    span ⓘ
            button(type="button" onclick="" class="btn_fold")
                i.icon.
                span.sr-only 메뉴 접기/펴기
        nav.nav.alarm_nav
            .main_menu
                h1.sr-only 네비게이터
                ul.lnb
                    li.nt.nt_1
                        a.nta(href="#", onclick="")
                            i.nti.nti_mail
                            span.nti_txt 메일
                            span.nti_count
                    li.nt.nt_2
                        a.nta(href="#", onclick="")
                            i.nti.nti_app
                            span.nti_txt 결재
                            span.nti_count
                    li.nt.nt_3
                        a.nta(href="#", onclick="")
                            i.nti.nti_cal
                            span.nti_txt 일정
                            span.nti_count
                    li.nt.nt_4
                        a.nta(href="#", onclick="")
                            i.nti.nti_todo
                            span.nti_txt 할일
                            span.nti_count
                    li.nt.nt_5
                        a.nta(href="#", onclick="")
                            i.nti.nti_rtag
                            span.nti_txt 역할
                            span.nti_count
                    li.nt.nt_6
                        a.nta(href="#", onclick="")
                            i.nti.nti_sbsc
                            span.nti_txt 구독
                            span.nti_count
                    li.nt.nt_7
                        a.nta(href="#", onclick="")
                            i.nti.nti_drwr
                            span.nti_txt 내서랍
                            span.nti_count
                    li.nt.nt_8
                        a.nta(href="#", onclick="")
                            i.nti.nti_agile
                            span.nti_txt 협업
                            span.nti_count
                    li.nt.nt_9
                        a.nta(href="#", onclick="")
                            i.nti.nti_alarm
                            span.nti_txt 알림센터
                            span.nti_count
            
