@charset 'UTF-8';
@use './font/fonts';
//@use './common/bootcustom_var';
//@use '../../node_modules/bootstrap/scss/bootstrap';
//@use './common/bootcustom_style';
@use './config/function';
@use './config/mixin';
//@use './config/reset';
@use './utiles/var_colors';
@use './utiles/var';
@use './utiles/skip';
// @use './config/responsive';
// @use './breakpoints/breakpoint';
// @use './utiles/box-shadow';
// @use './components/button';
@use './components/input';
// @use './layout/layout';
@use './components/h_title';
// @use './common/header';
// @use './common/nav';
// @use './common/footer';
// @use './components/nav';
// @use './components/modal';
// @use './pages/sub_conts_head';
// @use './components/bbs_common';
// @use './components/bbs_view_detail';
// @use './components/bbs_pic';
// @use './common/page_bg_color';
// @use './common/pagination';
// @use './components/banner';
@use './pages/alarm';
@use './pages/index';
// @use './pages/term';
// @use './pages/select_hotissue_jumin';
// @use './pages/updateFormObjectiveVote';
// @use './pages/insertFormVsVote';
// @use './pages/insertForm';
// @use './pages/usr_form';
// @use './pages/join';
@use './components/core';
// @use './components/owl.carousel';




// header+img{background:black;}
// body{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
// .pagination{display:block;}

// .mobile{display:none;}
// @media only screen and ( max-width: 720px )  {
//   .web{display:none;}
// }

// @media only screen and (pointer:coarse) and (max-height:720px) {
//   .web{display:none;}
// }